/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal Selector   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* updates so  borders and padding are not added to total with of specified of a box. This removes that behavior*/
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 95vh;
  /* 95 percent of the viewport height */
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

}
